pkgbase = gmail-tray-git
	pkgdesc = Minimal Gmail tray notifier with unread counter
	pkgver = 1
	pkgrel = 1
	url = https://github.com/maykonmarcosjuniordev-star/gmail-tray
	arch = any
	license = MIT
	depends = fetchmail
	depends = libnotify
	depends = gtk3
	depends = python
	depends = python-gobject
	depends = json-glib
	depends = libappindicator-gtk3
	depends = libayatana-appindicator
	depends = libayatana-appindicator-glib
	conflicts = gmail-tray
	conflicts = gmail-tray-appimage
	source = gmail-tray.py
	source = gmail-tray.desktop
	source = gmail-tray.service
	source = gmail-tray-configs.json
	source = https://upload.wikimedia.org/wikipedia/commons/archive/7/7e/20201210105307%21Gmail_icon_%282020%29.svg
	sha256sums = SKIP
	sha256sums = 0688bfaf05bf4f7bbe8a93f9f885e29a29d700b99e37ce942be9013535c720bc
	sha256sums = d14eb5fe03ac56e9afb4e469bc44bb14d61433664bb46d0846bffc5e876d3995
	sha256sums = 76348eec70f407361090a53d3bc96e4e8cae2538ae349e18b4b7b01ced7a8a27
	sha256sums = SKIP

pkgname = gmail-tray-git
